/* ------------------------------------------------------------ */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/**,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}*/
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

img {
  max-width: 100%;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
  text-align: center;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-1  */
/* ----------- */
.section-1__main-nav,
.section-1__main-menu,
.main-menu__item {
  list-style: none;
}

.section-1__main-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  background-color: #373c3f;
}

.main-nav__header {
  margin-left: 18px;
}
.main-nav__header h3 {
  font-size: 12px;
  color: #ffffff;
}

.main-nav__btn-open {
  background: url("../img/320/burger-btn-section-1-320.jpg") no-repeat;
  width: 41px;
  min-height: 37px;
  position: absolute;
  right: 0;
}
.main-nav__btn-open:hover {
  cursor: pointer;
}

.section-1__main-menu {
  display: none;
  margin-top: 0;
  padding-top: 9px;
  padding-left: 19px;
  padding-bottom: 9px;
  margin-bottom: 0;
  background-color: #373c3f;
}

.main-menu__item-link {
  padding-left: 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

.main-nav__btn-close {
  display: none;
  margin-left: 50px;
  position: absolute;
  top: 2px;
  right: 29px;
}
.main-nav__btn-close:hover {
  cursor: pointer;
}
.main-nav__btn-close:before {
  content: "+";
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  transform: rotate(45deg);
  color: #ffffff;
}

@media (min-width: 640px) {
  .main-nav__header {
    margin-left: 37px;
  }
  .main-nav__header h3 {
    font-size: 24px;
    margin-top: 24px;
  }

  .main-nav__btn-open {
    background: url("../img/640/burger-btn-section-1-640.jpg") no-repeat;
    width: 82px;
    min-height: 74px;
  }

  .section-1__main-menu {
    padding-top: 22.5px;
    padding-left: 38px;
    padding-bottom: 22.5px;
  }

  .main-menu__item-link {
    font-size: 24px;
  }

  .main-nav__btn-close {
    display: none;
    top: 4px;
    right: 55px;
  }
  .main-nav__btn-close:before {
    font-size: 56px;
  }
}
@media (min-width: 980px) {
  .section-1__main-nav {
    display: none;
  }

  .section-1__main-menu {
    display: flex;
    padding-top: 45px;
    padding-left: 54px;
    padding-bottom: 41px;
  }

  .main-menu__item:nth-child(1) {
    padding-right: 15px;
  }
  .main-menu__item:nth-child(2) {
    padding-left: 15px;
    padding-right: 13px;
  }
  .main-menu__item:nth-child(3) {
    padding-left: 13px;
    padding-right: 14.5px;
  }
  .main-menu__item:nth-child(4) {
    padding-left: 14.5px;
    padding-right: 15px;
  }
  .main-menu__item:nth-child(5) {
    padding-left: 15px;
  }

  .main-menu__item-link {
    font-size: 15px;
  }

  .main-nav__btn-close {
    display: none;
    top: 4px;
    right: 55px;
  }
  .main-nav__btn-close:before {
    font-size: 56px;
  }
}
/* ----------- */
/*  Section-1  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-2  */
/* ----------- */
.section-2 {
  background-color: #16b1c4;
  min-height: 175px;
}

.section-2__header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 54px;
  padding-left: 26px;
  font-size: 19px;
  color: #ffffff;
}

.section-2__url {
  list-style: none;
  margin-top: 12px;
  margin-bottom: 0;
  padding-bottom: 53px;
  padding-left: 27px;
  display: flex;
  justify-content: space-between;
}

.url__info {
  font-size: 11px;
  color: #ffffff;
  opacity: 0.65;
}

.url__link-img-s-two {
  background: url(../img/320/arrow-section-2-320.png) no-repeat;
  width: 14px;
  min-height: 16px;
  position: absolute;
  top: 146px;
  right: 64px;
}
.url__link-img-s-two:hover {
  cursor: pointer;
}

@media (min-width: 640px) {
  .section-2__header {
    padding-top: 111px;
    padding-left: 52px;
    font-size: 38.3px;
  }

  .section-2__url {
    margin-top: 28px;
    padding-left: 54px;
    padding-right: 52px;
    padding-bottom: 106px;
  }

  .url__info {
    font-size: 18px;
  }

  .url__link-img-s-two {
    background: url("../img/640/arrow-section-2-640.png") no-repeat;
    width: 11px;
    min-height: 18px;
    top: 302px;
    right: 138px;
  }
}
@media (min-width: 980px) {
  .section-2__header {
    padding-top: 192px;
    padding-left: 79px;
    font-size: 59px;
  }

  .section-2__url {
    margin-top: 49px;
    padding-left: 79px;
    padding-right: 52px;
    padding-bottom: 164px;
  }

  .url__info {
    font-size: 27px;
  }

  .url__link-img-s-two {
    background: url("../img/980/arrow-section-2-980.png") no-repeat;
    width: 16px;
    min-height: 27px;
    right: 213px;
  }
}
@media (min-width: 1024px) {
  .section-2__header {
    padding-top: 205px;
    padding-left: 82px;
    font-size: 62px;
  }

  .section-2__url {
    margin-top: 51px;
    padding-left: 83px;
    padding-bottom: 170px;
  }

  .url__info {
    font-size: 27px;
  }

  .url__link-img-s-two {
    background: url("../img/1024/arrow-section-2-1024.png") no-repeat;
    width: 17px;
    min-height: 27px;
    right: 222px;
  }
}
/* ----------- */
/*  Section-2  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-3  */
/* ----------- */
.section-3__flex {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.flex__item-s-3 {
  flex-grow: 1;
}
.flex__item-s-3 p {
  margin-bottom: 30px;
  padding-top: 24px;
  padding-left: 27px;
  color: #a695b6;
  font-size: 9px;
}
.flex__item-s-3:first-child {
  background-color: #27212c;
  margin-top: 0;
  min-width: 249px;
}
.flex__item-s-3:last-child {
  display: flex;
  background-color: #bc3183;
  padding-top: 31px;
  padding-left: 36px;
  padding-right: 33px;
  padding-bottom: 34px;
}

.url__link-img-s-three {
  background: url(../img/320/arrow-section-3-320.png) no-repeat;
  background-size: cover;
  width: 8px;
  min-height: 13px;
  position: absolute;
  top: 241px;
  right: 32px;
}

@media (min-width: 640px) {
  .flex__item-s-3 p {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 65px;
    padding-left: 55px;
    padding-right: 50px;
    padding-bottom: 64px;
  }
  .flex__item-s-3:last-child {
    display: flex;
    background-color: #bc3183;
    padding-top: 71px;
    padding-left: 55px;
    padding-bottom: 64px;
  }

  .url__link-img-s-three {
    background: url("../img/640/arrow-section-3-640.png") no-repeat;
    width: 15px;
    min-height: 24px;
    top: 487px;
    right: 67px;
  }
}
@media (min-width: 980px) {
  .section-3__flex {
    min-height: 237px;
  }

  .flex__item-s-3 p {
    font-size: 30px;
    padding-top: 123px;
    padding-left: 64px;
    padding-right: 109px;
    padding-bottom: 104px;
  }
  .flex__item-s-3:last-child a {
    padding-top: 52px;
    padding-left: 40px;
    padding-bottom: 30px;
  }

  .url__link-img-s-three {
    background: url("../img/980/arrow-section-3-980.png") no-repeat;
    width: 22px;
    min-height: 36px;
  }
}
@media (min-width: 980px) {
  .section-3__flex {
    min-height: 244px;
  }

  .flex__item-s-3 {
    padding: 0;
  }
  .flex__item-s-3 p {
    font-size: 31px;
    padding-top: 112px;
    padding-left: 87px;
    padding-right: 91px;
    padding-bottom: 107px;
  }
  .flex__item-s-3:last-child a {
    padding-top: 33px;
    padding-right: 70px;
    padding-bottom: 70px;
  }

  .url__link-img-s-three {
    background: url("../img/1024/arrow-section-3-1024.png") no-repeat;
    width: 22px;
    min-height: 38px;
    margin-left: 14px;
  }
}
/* ----------- */
/*  Section-3  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-4  */
/* ----------- */
@media (min-width: 320px) and (max-width: 639px) {
  .section-4__flex {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .flex__item-s-4:first-child {
    background-color: #5b0fa1;
    padding-top: 119px;
    padding-left: 137px;
    padding-right: 153px;
    padding-bottom: 156px;
    text-align: center;
  }
  .flex__item-s-4:nth-child(2) {
    background: url("../img/320/photo-1-section-4-320.jpg") no-repeat;
    background-size: cover;
    width: auto;
    min-height: 277px;
  }
  .flex__item-s-4:last-child {
    background: url("../img/320/photo-2-section-4-320.jpg") no-repeat;
    background-size: cover;
    width: auto;
    min-height: 279px;
  }
  .flex__item-s-4 .url__link-img-s-4 {
    background: url("../img/320/arrow-section-4-320.png") no-repeat;
    background-size: cover;
    width: 17px;
    min-height: 28px;
    position: absolute;
  }
}
@media (min-width: 640px) {
  .section-4__flex {
    margin-top: 0;
    padding-left: 0;
  }

  .flex__item-s-4 {
    list-style: none;
    min-height: 63px;
  }
  .flex__item-s-4:first-child {
    background-color: #5b0fa1;
    padding-top: 229px;
    padding-left: 301px;
    padding-right: 307px;
    padding-bottom: 258px;
    text-align: center;
  }
  .flex__item-s-4:nth-child(2) {
    background: url("../img/640/photo-1-section-4-640.jpg") no-repeat;
    background-size: cover;
    width: auto;
    min-height: 553px;
  }
  .flex__item-s-4:last-child {
    background: url("../img/640/photo-2-section-4-640.jpg") no-repeat;
    background-size: cover;
    width: auto;
    min-height: 557px;
  }

  .url__link-img-s-4 {
    background: url("../img/640/arrow-section-4-640.png") no-repeat;
    background-size: cover;
    width: 36px;
    min-height: 55px;
    position: absolute;
    margin-top: 4px;
    margin-left: -18px;
    min-height: 60px;
  }
}
@media (min-width: 980px) {
  .section-4__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }

  .flex__item-s-4:first-child {
    flex-grow: 1;
    padding-top: 119px;
    padding-left: 153px;
    padding-right: 155px;
    padding-bottom: 134px;
  }
  .flex__item-s-4:nth-child(2) {
    background: url("../img/980/photo-1-section-4-980.jpg") no-repeat;
    min-height: 282px;
    min-width: 326px;
  }
  .flex__item-s-4:last-child {
    background: url("../img/980/photo-2-section-4-980.jpg") no-repeat;
    min-height: 282px;
    min-width: 326px;
  }

  .url__link-img-s-4 {
    background: url("../img/980/arrow-section-4-980.png") no-repeat;
    width: 18px;
  }
}
@media (min-width: 1024px) {
  .section-4__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }

  .flex__item-s-4:first-child {
    flex-grow: 1;
    padding-top: 126px;
    padding-left: 160px;
    padding-right: 163px;
    padding-bottom: 140px;
  }
  .flex__item-s-4:nth-child(2) {
    background: url("../img/1024/photo-1-section-4-1024.jpg") no-repeat;
    min-width: 341px;
    min-height: 294px;
  }
  .flex__item-s-4:last-child {
    background: url("../img/1024/photo-2-section-4-1024.jpg") no-repeat;
    min-width: 341px;
    min-height: 294px;
  }

  .url__link-img-s-4 {
    background: url("../img/1024/arrow-section-4-1024.png") no-repeat;
    width: 18px;
  }
}
/* ----------- */
/*  Section-4  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ----------- */
/*  Section-5  */
/* ----------- */
.items__item-2,
.items__item-4 {
  display: none;
}

.section-5 {
  padding-top: 35px;
  padding-left: 38px;
  padding-right: 31px;
  padding-bottom: 47px;
  background-color: #ebebeb;
}

.section-5__header {
  margin: 0;
}
.section-5__header a {
  text-decoration: none;
  color: #088ca5;
  font-size: 19px;
  line-height: 1.63;
  text-shadow: 0.5px 0.866px 0px white;
}

.section-5__items {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.items__item {
  margin: 0;
  color: #515151;
  font-size: 13.5px;
  line-height: 1.63;
  text-shadow: 0.5px 0.866px 0px white;
}

.items__item-1 {
  margin-top: 5px;
  margin-bottom: 26px;
}

.items__item-3 {
  margin-top: 3px;
}

@media (min-width: 640px) {
  .section-5 {
    padding-top: 43px;
    padding-left: 73px;
    padding-right: 77px;
    padding-bottom: 105px;
  }

  .section-5__header a {
    font-size: 30px;
    line-height: 1.467;
  }

  .items__item {
    font-size: 22px;
    line-height: 2;
  }

  .items__item-1 {
    margin-top: 34px;
  }

  .items__item-3 {
    margin-top: 49px;
  }
}
@media (min-width: 980px) {
  .section-5 {
    padding-top: 48px;
    padding-left: 77px;
    padding-right: 58px;
    padding-bottom: 100px;
  }

  .section-5__header {
    padding-bottom: 32px;
  }

  .section-5__items {
    display: flex;
    flex-wrap: wrap;
  }

  .items {
    min-width: 370px;
    width: -webkit-min-content;
    width: min-content;
  }
  .items:first-child {
    padding-left: 2px;
    padding-right: 39px;
    padding-bottom: 23px;
  }
  .items:nth-child(2) {
    padding-left: 39px;
    padding-bottom: 23px;
  }
  .items:nth-child(3) {
    padding-top: 23px;
    padding-left: 2px;
    padding-right: 39px;
    padding-bottom: 10px;
  }
  .items:last-child {
    padding-top: 23px;
    padding-left: 39px;
  }

  .items__item {
    font-size: 14px;
    line-height: 1.857;
  }

  .items__item-1,
.items__item-2 {
    margin-top: 0;
  }

  .items__item-3,
.items__item-4 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .section-5 {
    padding-top: 54px;
    padding-left: 80px;
    padding-right: 86px;
    padding-bottom: 177px;
  }

  .section-5__items {
    justify-content: space-between;
  }

  .items {
    width: unset;
  }
  .items:first-child {
    padding-left: 2px;
    padding-right: 32.5px;
    padding-bottom: 23px;
  }
  .items:nth-child(2) {
    padding-left: 32.5px;
    padding-right: 32.5px;
    padding-bottom: 23px;
  }
  .items:nth-child(3) {
    padding-top: 23px;
    padding-left: 2px;
    padding-right: 32.5px;
    padding-bottom: 10px;
  }
  .items:last-child {
    padding-top: 23px;
    padding-left: 32.5px;
    padding-right: 32.5px;
  }

  .items__item-1,
.items__item-2 {
    margin-top: 0;
  }
}
@media (min-width: 1378px) {
  .items:first-child {
    padding-left: 2px;
    padding-right: 32.5px;
    padding-bottom: 23px;
  }
  .items:nth-child(2) {
    padding-left: 32.5px;
    padding-bottom: 23px;
  }
  .items:nth-child(3) {
    padding-top: 23px;
    padding-left: 2px;
    padding-right: 32.5px;
    padding-bottom: 10px;
  }
  .items:last-child {
    padding-top: 23px;
    padding-left: 32.5px;
  }
}
/* ----------- */
/*  Section-5  */
/*     end     */
/* ----------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */