/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-1  */
/* ----------- */

.section-1__main-nav,
.section-1__main-menu,
.main-menu__item {
    list-style: none;
}

.section-1__main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #373c3f;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.main-nav__header {
    margin-left: 18px;
    h3 {
        font-size: 12px;
        color: #ffffff;
    }
}

.main-nav__btn-open {
    background: url("../img/320/burger-btn-section-1-320.jpg") no-repeat;
    width: 41px;
    min-height: 37px;
    position: absolute;

    right: 0;

    &:hover {
        cursor: pointer;
    }
}

.section-1__main-menu {
    background-color: #373c3f;
    margin-top: 0;
    padding-top: 9px;
    padding-left: 19px;
    padding-bottom: 9px;
    margin-bottom: 0;

    display: none;
}

.main-menu__item-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    padding-left: 0;
}

.main-nav__btn-close {
    display: none;
    
    margin-left: 50px;
    font-weight: bold;

    position: absolute;
    top: 2px;
    right: 29px;

    &:hover {
        cursor: pointer;
    }

    &:before {
        content: "+";
        font-size: 30px;
        position: absolute;
        transform: rotate(45deg);
        color: #ffffff;
    }
}

/* ----------- */
/*  Section-1  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */