/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-1  */
/* ----------- */

.section-1__main-nav,
.section-1__main-menu,
.main-menu__item {
  list-style: none;
}

.section-1__main-nav {
  display: flex;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  background-color: #373c3f;
}

.main-nav__header {
  margin-left: 18px;
  z-index: 1;

  h3 {
    font-size: 12px;
    color: #ffffff;
  }
}

.hidden {
  display: none;
}
.no-hidden {
  display: block;
}

.main-nav__btn-open {
  background: url("../img/320/burger-btn-section-1-320.jpg") no-repeat;
  width: 41px;
  min-height: 37px;

  position: absolute;
  right: 0;

  &:hover {
    cursor: pointer;
  }
}

.section-1__main-menu {
  margin-top: 0;
  padding-top: 9px;
  padding-left: 19px;
  padding-bottom: 9px;
  margin-bottom: 0;

  background-color: #373c3f;
}

.main-menu__item-link {
  padding-left: 0;

  color: #ffffff;
  font-size: 12px;
  font-weight: normal;

  text-decoration: none;
}

.main-nav__btn-close {
  margin-left: 50px;

  position: absolute;
  top: 2px;
  right: 29px;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: "+";
    font-size: 30px;
    font-weight: bold;

    position: absolute;
    transform: rotate(45deg);
    color: #ffffff;
  }
}

@media (min-width: 640px) {
  .main-nav__header {
    margin-left: 37px;

    h3 {
      font-size: 24px;
      margin-top: 24px;
    }
  }

  .main-nav__btn-open {
    background: url("../img/640/burger-btn-section-1-640.jpg") no-repeat;
    width: 82px;
    min-height: 74px;
  }

  .section-1__main-menu {
    padding-top: 22.5px;
    padding-left: 38px;
    padding-bottom: 22.5px;
  }

  .main-menu__item-link {
    font-size: 24px;
  }

  .main-nav__btn-close {
    top: 4px;
    right: 55px;

    &:before {
      font-size: 56px;
    }
  }
}

@media (min-width: 980px) {
  .section-1__main-nav {
    display: none;
  }

  .section-1__main-menu {
    display: flex;
    padding-top: 45px;
    padding-left: 54px;
    padding-bottom: 41px;
  }

  .main-menu__item {
    &:nth-child(1) {
      padding-right: 15px;
    }
    &:nth-child(2) {
      padding-left: 15px;
      padding-right: 13px;
    }
    &:nth-child(3) {
      padding-left: 13px;
      padding-right: 14.5px;
    }
    &:nth-child(4) {
      padding-left: 14.5px;
      padding-right: 15px;
    }
    &:nth-child(5) {
      padding-left: 15px;
    }
  }

  .main-menu__item-link {
    font-size: 15px;
  }

  .main-nav__btn-close {
    display: none;

    top: 4px;
    right: 55px;

    &:before {
      font-size: 56px;
    }
  }
}

/* ----------- */
/*  Section-1  */
/*     end     */
/* ----------- */

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
