/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-1  */
/* ----------- */

.section-1 {
    background-color: #373c3f;

    @media screen and (max-width: 640px) {
        min-height: 77px;
    }

}
//padding-top: 45px;
//padding-left: 54px;
//padding-bottom: 41px; 

.adaptive-block {
    display: none;

    @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: row;
        list-style: none;

        justify-content: space-between;

        margin-top: 0px;
        margin-bottom: 0px;

        li {
            h1 {
                color: #ebebeb;
                font-weight: 600;
                font-size: 31px;
            }

            a {
                span {
                    position: absolute;
                    right: 3px;
        
                    background: url(../img/640/burger-btn-section-1-640.jpg);
                    background-repeat: no-repeat;
                    width: 82px;
                    height: 74px;
                }
            }
        }
    
    }

}

.headers {
    list-style: none;
    display: flex;

    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 45px;
    padding-left: 54px;
    padding-bottom: 41px; 
     
    li {
        padding-left: 14px;
        padding-right: 14px;

        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }

        a {
            text-decoration: none;
            color: #ebebeb;
            font-weight: 500;
            font-size: 15px;

            &:hover {
                color: #19b4c6;
                transition: 0.5s;
            }
            &:active,
            &:focus {
                color: aqua;
            }

        }
    }

}
.headers-x {

    @media screen and (max-width: 640px) {
        display: none;
    }

}

.headers-adaptive {
    display: none;
    padding-top: 30px;
    padding-bottom: 29px;
}
.headers-adaptive__close-btn {
    margin-top: -25px;
}

/* ----------- */
/*  Section-1  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */