/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-2  */
/* ----------- */

.section-2 {
  background-color: #16b1c4;
  min-height: 175px;
}

.section-2__header {
  margin-top: 0;
  margin-bottom: 0;

  padding-top: 54px;
  padding-left: 26px;

  font-size: 19px;
  color: #ffffff;
}

.section-2__url {
  list-style: none;

  margin-top: 12px;
  margin-bottom: 0;

  padding-bottom: 53px;
  padding-left: 27px;

  display: flex;
  justify-content: space-between;
}

.url__info {
  font-size: 11px;
  color: #ffffff;
  opacity: 0.65;
}

.url__link-img-s-two {
  background: url(../img/320/arrow-section-2-320.png) no-repeat;

  width: 14px;
  min-height: 16px;

  position: absolute;
  top: 146px;
  right: 64px;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 640px) {
  .section-2__header {
    padding-top: 116px;
    padding-left: 52px;
    font-size: 38.3px;
  }

  .section-2__url {
    margin-top: 32px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 106px;
  }

  .url__info {
    font-size: 18px;
  }

  .url__link-img-s-two {
    background: url("../img/640/arrow-section-2-640.png") no-repeat;
    width: 11px;
    min-height: 18px;

    right: 138px;
  }
}

@media (min-width: 980px) {
    .section-2__header {
      padding-top: 192px;
      padding-left: 79px;
      font-size: 59px;
    }
  
    .section-2__url {
      margin-top: 49px;
      padding-left: 79px;
      padding-right: 52px;
      padding-bottom: 164px;
    }
  
    .url__info {
      font-size: 27px;
    }
  
    .url__link-img-s-two {
      background: url("../img/980/arrow-section-2-980.png") no-repeat;
      width: 16px;
      min-height: 27px;
  
      right: 213px;
    }
  }

  @media (min-width: 1024px) {
    .section-2__header {
      padding-top: 205px;
      padding-left: 82px;
      font-size: 62px;
    }
  
    .section-2__url {
      margin-top: 51px;
      padding-left: 83px;
      padding-bottom: 170px;
    }
  
    .url__info {
      font-size: 27px;
    }
  
    .url__link-img-s-two {
      background: url("../img/1024/arrow-section-2-1024.png") no-repeat;
      width: 17px;
      min-height: 27px;
      right: 222px;
    }
  }

/* ----------- */
/*  Section-2  */
/*     end     */
/* ----------- */

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
