/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-2  */
/* ----------- */

.section-2 {
    margin-top: -1px;
}

.section-2__box {
    background-color: #19b4c6;

    padding-top: 205px;
    padding-left: 82px;
    padding-bottom: 169px; 

    @media screen and (max-width: 980px) {
        padding-top: 192px;
        padding-left: 81px;
        padding-bottom: 164px; 
        padding-right: 5px;
    }
    @media screen and (max-width: 640px) {
        padding-top: 116px;
        padding-left: 51px;
        padding-bottom: 106px; 
        padding-right: 5px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 55px;
        color: #ffffff;
        font-weight: bold;

        @media screen and (max-width: 640px) {
            font-size: 35px;
        }

    }
}

.box--href {
    padding-top: 50px;

    @media screen and (max-width: 980px) {
        padding-top: 49px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    @media screen and (max-width: 640px) {
        padding-top: 31px;
    }

    a:first-child {
        text-decoration: none;
        font-size: 28px;
        color: #a9d6df;
        font-weight: bold;

        &:hover {
            color: #ffffff;
            transition: 0.5s;
        }
        &:active,
        &:focus {
            color: #1c8499;
            transition: 1s;
        }
        
    }
    a:last-child {
        position: relative;
        left: 326px;
        bottom: 7px;

        @media screen and (max-width: 980px) {
            width: 21px;

            left: 627px;
            bottom: 27px;
        }
        @media screen and (max-width: 730px) {
            width: 21px;

            left: 492px;
            bottom: 27px;
        }

        span {
            padding-left: 98px;
            padding-bottom: 10px;
    
            background: url(../img/1024/arrow-section-2-1024.png);
            background-repeat: no-repeat;
            width: 17px;
            height: 27px;

            @media screen and (max-width: 980px) {
                background: url(../img/980/arrow-section-2-980.png);
                background-repeat: no-repeat;
                width: 16px;
                height: 27px;

                padding-left:14px;
            }
            @media screen and (max-width: 731px) {
                position: relative;
                right: 95px;
            }
            @media screen and (max-width: 668px) {
                position: relative;
                right: 95px;
            }
            @media screen and (max-width: 640px) {
                background: url(../img/640/arrow-section-2-640.png);
                background-repeat: no-repeat;
                width: 11px;
                height: 18px;

                position: relative;
                top: 6px;
                right: 92px;
            }

        }

        &:hover {
            opacity: 0.7;
            transition: 0.5s;
        }
        &:active,
        &:focus {
            opacity: 0.5;
            transition: 1s;
        }
    }

}

/* ----------- */
/*  Section-2  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */