/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-2  */
/* ----------- */

.section-2 {
    background-color: #16b1c4;
    min-height: 175px;
}

.section-2__header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 58px;
    padding-left: 26px;
    font-size: 22px;
    color: #ffffff;
}

.section-2__url {
    list-style: none;
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 53px;
    padding-left: 26px;
    display: flex;
    justify-content: space-between;
}

.url__info {
    font-size: 16px;
    color: #ffffff;
}

.url__link-img-s-two {
    background: url("../img/320/arrow-section-2-320.png") no-repeat;
    width: 14px;
    min-height: 16px;
    position: absolute;

    right: 30px;

    &:hover {
        cursor: pointer;
    }
}

/* ----------- */
/*  Section-2  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */