/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-3  */
/* ----------- */

.section-3__flex {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.flex__item-s-3 {
  flex-grow: 1;

  p {
    margin-bottom: 30px;

    padding-top: 24px;
    padding-left: 27px;

    color: #a695b6;

    font-size: 9px;
  }

  &:first-child {
    background-color: #27212c;

    margin-top: 0;

    min-width: 249px;
  }

  &:last-child {
    display: flex;

    background-color: #bc3183;

    padding-top: 31px;
    padding-left: 36px;
    padding-right: 33px;
    padding-bottom: 34px;
  }
}

.url__link-img-s-three {
  background: url(../img/320/arrow-section-3-320.png) no-repeat;
  background-size: cover;

  width: 8px;
  min-height: 13px;

  position: absolute;
  top: 248px;
  right: 32px;
}

.fix-arrow-sect-three {
  top: 320px;
}

@media (min-width: 640px) {
  .flex__item-s-3 {
    p {
      font-size: 19px;

      margin-top: 0;
      margin-bottom: 0;

      padding-top: 65px;
      padding-left: 55px;
      padding-right: 50px;
      padding-bottom: 64px;
    }

    &:last-child {
      display: flex;

      background-color: #bc3183;

      padding-top: 71px;
      padding-left: 55px;
      padding-bottom: 64px;
    }
  }

  .fix-arrow-sect-three {
    top: 641px;
  }

  .url__link-img-s-three {
    background: url("../img/640/arrow-section-3-640.png") no-repeat;
    width: 15px;
    min-height: 24px;

    top: 487px;
    right: 67px;
  }
}

@media (min-width: 647px) {
  .fix-arrow-sect-three {
    top: 599px;
  }
}

@media (min-width: 980px) {
  .section-3__flex {
    min-height: 237px;
  }
  .flex__item-s-3 {
    p {
      font-size: 30px;

      padding-top: 123px;
      padding-left: 64px;
      padding-right: 109px;
      padding-bottom: 104px;
    }

    &:last-child {
      a {
        padding-top: 52px;
        padding-left: 40px;
        padding-bottom: 30px;
      }
    }
  }

  .url__link-img-s-three {
    background: url("../img/980/arrow-section-3-980.png") no-repeat;
    width: 22px;
    min-height: 36px;
  }
}

@media (min-width: 980px) {
  .section-3__flex {
    min-height: 244px;
  }
  .flex__item-s-3 {
    padding: 0;
    p {
      font-size: 31px;

      padding-top: 112px;
      padding-left: 87px;
      padding-right: 91px;
      padding-bottom: 107px;
    }

    &:last-child {
      a {
        padding-top: 33px;
        padding-right: 70px;
        padding-bottom: 70px;
      }
    }
  }

  .url__link-img-s-three {
    background: url("../img/1024/arrow-section-3-1024.png") no-repeat;
    width: 22px;
    min-height: 38px;
    margin-left: 14px;

    position: absolute;
    top: 786px;
  }
}

@media (min-width: 1024px) {
  .url__link-img-s-three {
    top: 813px;
  }
}

/* ----------- */
/*  Section-3  */
/*     end     */
/* ----------- */

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
