/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-4  */
/* ----------- */

.section-4_flex {
    display: flex;
}

.section-4_flex__1 {
    background-color: #5b0fa1;
    padding-top: 126px;
    padding-right: 84px;
    padding-left: 159px;
    padding-bottom: 139px;

    @media screen and (max-width: 980px) {
        padding-top: 119px;
        padding-right: 76px;
        padding-left: 154px;
        padding-bottom: 134px;
    }
    @media screen and (max-width: 730px) {
        padding-right: 1px;
        padding-left: 73px;
    }

    span {
        padding-left: 98px;
        padding-bottom: 20px;

        background: url(../img/1024/arrow-section-3-1024.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 30px;

        @media screen and (max-width: 980px) {
            background: url(../img/980/arrow-section-4-980.png);
            background-repeat: no-repeat;
            width: 18px;
            height: 28px;
        }
    }

    &:hover {
        opacity: 0.9;
        transition: 0.5s;
    }
    &:active,
    &:focus {
        opacity: 0.8;
        transition: 1s;
    }
}
.section-4_flex__2 {
    background: url(../img/1024/photo-1-section-4-1024.jpg);
    background-repeat: no-repeat;
    width: 341px;
    height: 294px;

    @media screen and (max-width: 980px) {
        background: url(../img/980/photo-1-section-4-980.jpg);
        background-repeat: no-repeat;
        width: 326px;
        height: 282px;
    }

}
.section-4_flex__3 {
    background: url(../img/1024/photo-2-section-4-1024.jpg);
    background-repeat: no-repeat;
    width: 341px;
    height: 294px;

    @media screen and (max-width: 980px) {
        background: url(../img/980/photo-2-section-4-980.jpg);
        background-repeat: no-repeat;
        width: 326px;
        height: 282px;
    }

}

/* ----------- */
/*  Section-4  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */