/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-4  */
/* ----------- */
@media (min-width: 320px) and (max-width: 639px) {
  .section-4__flex {
    list-style: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .flex__item-s-4 {
    &:first-child {
      background-color: #5b0fa1;

      padding-top: 119px;
      padding-left: 137px;
      padding-right: 153px;
      padding-bottom: 156px;

      text-align: center;
    }

    &:nth-child(2) {
      background: url("../img/320/photo-1-section-4-320.jpg") no-repeat;
      background-size: cover;
      width: auto;
      min-height: 277px;
    }

    &:last-child {
      background: url("../img/320/photo-2-section-4-320.jpg") no-repeat;
      background-size: cover;
      width: auto;
      min-height: 279px;
    }

    .url__link-img-s-4 {
      background: url("../img/320/arrow-section-4-320.png") no-repeat;
      background-size: cover;
      width: 17px;
      min-height: 28px;

      position: absolute;
    }
  }
}

@media (min-width: 640px) {
  .section-4__flex {
    margin-top: 0;
    padding-left: 0;
  }
  .flex__item-s-4 {
    list-style: none;
    min-height: 63px;
    &:first-child {
      background-color: #5b0fa1;

      padding-top: 229px;
      padding-left: 301px;
      padding-right: 307px;
      padding-bottom: 258px;

      text-align: center;
    }

    &:nth-child(2) {
      background: url("../img/640/photo-1-section-4-640.jpg") no-repeat;
      background-size: cover;
      width: auto;
      min-height: 553px;
    }

    &:last-child {
      background: url("../img/640/photo-2-section-4-640.jpg") no-repeat;
      background-size: cover;
      width: auto;
      min-height: 557px;
    }
  }

  .url__link-img-s-4 {
    background: url("../img/640/arrow-section-4-640.png") no-repeat;
    background-size: cover;
    width: 36px;
    min-height: 55px;

    position: absolute;

    margin-top: 4px;
    margin-left: -18px;

    min-height: 60px;
  }
}

@media (min-width: 980px) {
  .section-4__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }

  .flex__item-s-4 {
    &:first-child {
      flex-grow: 1;
      padding-top: 119px;
      padding-left: 153px;
      padding-right: 155px;
      padding-bottom: 134px;
    }

    &:nth-child(2) {
      background: url("../img/980/photo-1-section-4-980.jpg") no-repeat;
      min-width: 326px;
    }

    &:last-child {
      background: url("../img/980/photo-2-section-4-980.jpg") no-repeat;
      min-width: 326px;
    }
  }

  .url__link-img-s-4 {
    background: url("../img/980/arrow-section-4-980.png") no-repeat;
    width: 18px;
  }
}

@media (min-width: 980px) {
  .flex__item-s-4 {
    &:nth-child(2),
    &:last-child {
      background-size: cover;
    }
  }
}

@media (min-width: 1024px) {
  .section-4__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }

  .flex__item-s-4 {
    &:first-child {
      flex-grow: 1;
      padding-top: 126px;
      padding-left: 160px;
      padding-right: 163px;
      padding-bottom: 140px;
    }

    &:nth-child(2) {
      background: url("../img/1024/photo-1-section-4-1024.jpg") no-repeat;
      background-size: cover;

      min-width: 341px;
    }

    &:last-child {
      background: url("../img/1024/photo-2-section-4-1024.jpg") no-repeat;
      background-size: cover;
      
      min-width: 341px;  
    }
  }

  .url__link-img-s-4 {
    background: url("../img/1024/arrow-section-4-1024.png") no-repeat;
    width: 18px;
  }
}

/* ----------- */
/*  Section-4  */
/*     end     */
/* ----------- */

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
