/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-5  */
/* ----------- */


.section-5 {
    background-color: #ebebeb;

    height: 563;
}

.section-5__box {
    padding-top: 54px;
    padding-left: 82px;
    padding-right: 86px;
    padding-bottom: 174px;

    @media screen and (max-width: 980px) {
        padding-top: 71px;
        padding-right: 89px;
        padding-left: 77px;
        padding-bottom: 89px;
    }
    @media screen and (max-width: 640px) {
        padding-top: 71px;
        padding-right: 5px;
        padding-left: 0px;
        padding-bottom: 104px;
    }
    @media screen and (max-width: 320px) {
        padding-top: 35px;
        padding-right: 5px;
        padding-left: 38px;
        padding-bottom: 50px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;

        @media screen and (max-width: 640px) {
            padding-left: 74px;
        }

        a {
            text-decoration: none;
            font-size: 30px;
            color: #088ca5;
            font-weight: 500;

            @media screen and (max-width: 320px) {
                font-size: 19px;
            }

            &:hover {
                opacity: 0.5;
                transition: 0.5s;
            }
            &:active,
            &:focus {
                opacity: 0.6;
                transition: 1s;
            }
        }
    }

}

.section-5__box-text {
    display: flex;

    @media screen and (max-width: 980px) {
        flex-wrap: wrap;
        justify-content: center;
    }

}

.box-text__left,
.box-text__right {
    width: 409px;

    @media screen and (max-width: 980px) {
        width: 378px;
    }
    @media screen and (max-width: 640px) {
        margin-left: 64px;
        padding-left: 10px;
    }

    p {
        width: 640px;

        position: relative;
        top: -72px;
        right: 160px;

        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 22px;
        color: #515151;
        font-weight: 600;
        line-height: 2;

        text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
        -moz-transform: matrix( 0.5,0,0,0.5,0,0);
        -webkit-transform: matrix( 0.5,0,0,0.5,0,0);
        -ms-transform: matrix( 0.5,0,0,0.5,0,0);

        @media screen and (max-width: 980px) {
            font-size: 22px;
            color: #515151;
            font-weight: 600;
            line-height: 1.857;
        }
        @media screen and (max-width: 640px) {
            font-size: 22px;
            color: #515151;
            font-weight: 600;
            line-height: 2;
        }
        @media screen and (max-width: 320px) {
            font-size: 27px;
            color: #515151;
            font-weight: 600;
            line-height: 1.63;
        }

        &:last-child {
            padding-top: 46px;

            position: relative;
            top: -212px;

            @media screen and (max-width: 980px) {
                position: relative;
                top: -189px;
            }

        }
    }

}

.box-text__left {
    padding-top: 33px;
    padding-right: 42px;

    @media screen and (max-width: 980px) {
        padding-top: 33px;
        padding-right: 42px;
    }
    @media screen and (max-width: 640px) {
        width: 546px;
        padding-top: 59px;
        padding-right: 0px;

        display: none;
    }

}   
.box-text__left-640 {
    display: none;

    @media screen and (max-width: 640px) {
        display: block;
    }
    @media screen and (max-width: 562px) {
        margin-left: 126px;
    }
    @media screen and (max-width: 474px) {
        margin-left: 218px;
    }
    @media screen and (max-width: 374px) {
        margin-left: 310px;
    }
    @media screen and (max-width: 320px) {
        width: 252px;
        margin-left: -97px;
    }

}
.box-text__right {
    padding-top: 33px;

    @media screen and (max-width: 963px) {
        position: relative;
        top: -246px;
        right: 22px;
    }
    @media screen and (max-width: 640px) {
        display: none;
    }

}

/* ----------- */
/*  Section-5  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */