/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ----------- */
/*  Section-5  */
/* ----------- */


.section-5 {
    background-color: #ebebeb;
}

.section-5__box {
    padding-top: 54px;
    padding-left: 82px;
    padding-right: 86px;
    padding-bottom: 174px;

    @media screen and (max-width: 980px) {
        padding-top: 71px;
        padding-right: 89px;
        padding-left: 77px;
        padding-bottom: 89px;
    }
    @media screen and (max-width: 640px) {
        padding-top: 71px;
        padding-right: 5px;
        padding-left: 74px;
        padding-bottom: 104px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;

        @media screen and (max-width: 640px) {
            padding-left: 2px;
        }

        a {
            text-decoration: none;
            font-size: 30px;
            color: #088ca5;
            font-weight: 500;

            &:hover {
                opacity: 0.5;
                transition: 0.5s;
            }
            &:active,
            &:focus {
                opacity: 0.6;
                transition: 1s;
            }
        }
    }

}

.section-5__box-text {
    display: flex;

    @media screen and (max-width: 980px) {
        flex-wrap: wrap;
    }

}

.box-text__left,
.box-text__right {
    width: 409px;

    @media screen and (max-width: 980px) {
        width: 378px;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 14px;
        color: #515151;
        font-weight: 600;
        line-height: 1.6;

        @media screen and (max-width: 980px) {
            font-size: 13px;
        }
        @media screen and (max-width: 640px) {
            font-size: 22px;
            color: #515151;
            font-weight: 600;
            line-height: 2;
        }

        &:last-child {
            padding-top: 46px;
        }
    }

}

.box-text__left {
    padding-top: 33px;
    padding-right: 42px;

    @media screen and (max-width: 980px) {
        padding-top: 33px;
        padding-right: 42px;
    }
    @media screen and (max-width: 640px) {
        width: 546px;
        padding-top: 59px;
        padding-right: 0px;

        display: none;
    }

}   
.box-text__left-640 {

    @media screen and (max-width: 640px) {
        display: block;
    }  

}
.box-text__right {
    padding-top: 33px;

    @media screen and (max-width: 640px) {
        display: none;
    }

}

/* ----------- */
/*  Section-5  */
/*     end     */
/* ----------- */
 
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */